{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Import</li>
                        <li><a href="/draft/import/pecota">PECOTA Import</a></li>
                        <li><a href="/draft/clear/pecota">Clear PECOTA Import</a></li>
                        <li><a href="/draft/import/bbhq">BBHQ Import</a></li>
                        <li><a href="/draft/clear/bbhq">Clear BBHQ Import</a></li>
                        <li><a href="/draft/showTeams">Player Status</a></li>
                        <li class="nav-header">Admin</li>
                        <li><a href="/admin">Django Admin</a></li>
                        <li><a href="/league/create">Create New League</a></li>
                        <li class="nav-header">Players</li>
                        <li><a href="/batters/find/ALL/MLB/vorp/DESC/1/1">Batters</a></li>
                        <li><a href="/pitchers/find/ALL/MLB/warp/DESC/1/1">Pitchers</a></li>
                        <li><a href="/draft/show/1">League Draft List</a></li>
                    </ul>
                </div>
            </div>

            <div class="span10">
                <div class="hero-unit">
                    <h1>Baseball Track and Draft</h1>
                    <p>An experiment in Python, Django, and Bootstrap...</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}