<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<title>{{pageTitle}}</title>
<h1>{{headerTitle}}</h1>

<table cellpadding="5">
    <tr>
        <th>Line</th>
        <th>Name</th>
        <th>Age</th>
        <th>Team</th>
        <th>League</th>
        <th>G</th>
        <th>GS</th>
        <th>QS</th>
        <th>IP</th>
        <th>W</th>
        <th>SV</th>
        <th>H</th>
        <th>BB</th>
        <th>SO</th>
        <th>ERA</th>
        <th>FAIRRA</th>
        <th>WHIP</th>
        <th>BB9</th>
        <th>K9</th>
        <th>K/BB</th>
        <th>WARP</th>
    </tr>

    {% for pitcher in pitchers %}
        <tr>
            <td>{{pitcher.fullLabel}}</td>
            <td>{{pitcher.player.fullName}}</td>
            <td>{{pitcher.age}}</td>
            <td>{{pitcher.team}}</td>
            <td>{{pitcher.league}}</td>
            <td>{{pitcher.games}}</td>
            <td>{{pitcher.gamesStarted}}</td>
            <td>{{pitcher.qualityStarts}}</td>
            <td>{{pitcher.inningsPitched|floatformat:1}}</td>
            <td>{{pitcher.wins}}</td>
            <td>{{pitcher.saves}}</td>
            <td>{{pitcher.hitsAllowed}}</td>
            <td>{{pitcher.walksAllowed}}</td>
            <td>{{pitcher.strikeouts}}</td>
            <td>{{pitcher.era|floatformat:2}}</td>
            <td>{{pitcher.fairRa|floatformat:2}}</td>
            <td>{{pitcher.whip|floatformat:3}}</td>
            <td>{{pitcher.bb9|floatformat:1}}</td>
            <td>{{pitcher.k9|floatformat:1}}</td>
            <td>{{pitcher.kbbRatio|floatformat:2}}</td>
            <td>{{pitcher.warp|floatformat:1}}</td>
        </tr>
    {% endfor %}
</table>